# Ignoriere den Datenbank-Ordner von n8n
n8n_data/
local_files/

# Ignoriere Environment Variablen (Passwörter)
.env

# Windows Systemdateien
Thumbs.db

# Database Data
postgres_data/
redis_data/

# Logs
logs/